Repository fga-eps-mds/2020.2-Projeto-Kokama-Wiki, pull requests merged in 2021-05, with the labels that each got.

#179 Documenta reunião com a PO (09/04)
  docs/management/po-meetings/meeting-6.md
  mkdocs.yml
Labels: DOCS, EASY, EPS, MDS, MEETING, PO

#193 Update architecture document
  docs/assets/img/architecture/architecture_diagram.png
  docs/assets/img/architecture/architecture_diagram_V1.png
  docs/project/architecture-document.md
Labels: ARQ, DOCS, EPS

#194 Upload release 2
  docs/releases/release-2.md
Labels: DOCS, EASY, EPS, MDS

#195 Upload release 2 video
  docs/releases/release-1.md
  docs/releases/release-2.md
  mkdocs.yml
Labels: DOCS, EASY, EPS, MDS
