Repository fga-eps-mds/2020.2-Projeto-Kokama-Wiki, pull requests merged in 2021-04, with the labels that each got.

#134 Adiciona revisão e retrospectiva da sprint 5 para a wiki
  docs/assets/img/sprints/sprint-2/velocity.png
  docs/assets/img/sprints/sprint-3/velocity.png
  docs/assets/img/sprints/sprint-5/burndown.png
  docs/assets/img/sprints/sprint-5/knowledge-board-after.png
  docs/assets/img/sprints/sprint-5/knowledge-board-before.png
  docs/assets/img/sprints/sprint-5/knowledge-board-topics-compare.png
  docs/assets/img/sprints/sprint-5/time-eps-mds.png
  docs/assets/img/sprints/sprint-5/time-team.png
  docs/assets/img/sprints/sprint-5/velocity.png
  docs/management/sprints/sprint-5-review-retrospective.md
  mkdocs.yml
Labels: 0-EPS, 0-MDS, 0-Scrum Master, 1-Documentation, 2-Meeting

#133 Documantar reunião com a PO (12/03)
  docs/management/po-meetings/meeting-3.md
  mkdocs.yml
Labels: 0-EPS, 0-MDS, 0-Product Owner, 1-Documentation, 2-Meeting

#135 Documanta reunião com a PO (05/03)
  docs/management/po-meetings/meeting-3.md
  docs/management/po-meetings/meeting-4.md
  mkdocs.yml
Labels: 0-EPS, 1-Documentation, 2-Meeting

#138 Documenta reunião com a PO (19/03)
  docs/management/po-meetings/meeting-5.md
  mkdocs.yml
Labels: 0-EPS, 1-Documentation, 2-Meeting

#136 Adiciona planejamento da sprint 7 para a wiki
  docs/management/sprints/sprint-7-planning.md
  mkdocs.yml
Labels: 0-Scrum Master, 1-Documentation, 2-Meeting

#139 Adiciona revisão e retrospectiva da sprint 6 para a wiki
  docs/assets/img/sprints/sprint-6/burndown.png
  docs/assets/img/sprints/sprint-6/cumulative-flow.png
  docs/assets/img/sprints/sprint-6/knowledge-board-after.png
  docs/assets/img/sprints/sprint-6/knowledge-board-before.png
  docs/assets/img/sprints/sprint-6/knowledge-board-topics-compare.png
  docs/assets/img/sprints/sprint-6/time-eps-mds.png
  docs/assets/img/sprints/sprint-6/time-team.png
  docs/assets/img/sprints/sprint-6/velocity.png
  docs/management/sprints/sprint-6-review-retrospective.md
  mkdocs.yml
Labels: 0-MDS, 0-Scrum Master, 1-Documentation, 2-Meeting

#160 Adiciona revisão e retrospectiva da sprint 7 para a wiki
  docs/assets/img/sprints/sprint-7/burndown.png
  docs/assets/img/sprints/sprint-7/cumulative-flow.png
  docs/assets/img/sprints/sprint-7/knowledge-board-after.png
  docs/assets/img/sprints/sprint-7/knowledge-board-before.png
  docs/assets/img/sprints/sprint-7/knowledge-board-topics-compare.png
  docs/assets/img/sprints/sprint-7/time-eps-mds.png
  docs/assets/img/sprints/sprint-7/time-team.png
  docs/assets/img/sprints/sprint-7/velocity.png
  docs/management/sprints/sprint-7-review-retrospective.md
  mkdocs.yml
Labels: DOCS, EASY, EPS, MEETING, SM

#159 Adiciona planejamento da sprint 8 para a wiki
  docs/management/sprints/sprint-8-planning.md
  mkdocs.yml
Labels: DOCS, EASY, EPS, MEETING, SM

#176 Adiciona revisão e retrospectiva da sprint 8 para a wiki
  docs/assets/img/sprints/sprint-8/burndown.png
  docs/assets/img/sprints/sprint-8/knowledge-board-after.png
  docs/assets/img/sprints/sprint-8/knowledge-board-before.png
  docs/assets/img/sprints/sprint-8/knowledge-board-topics-compare.png
  docs/assets/img/sprints/sprint-8/time-eps-mds.png
  docs/assets/img/sprints/sprint-8/time-team.png
  docs/assets/img/sprints/sprint-8/velocity.png
  docs/management/sprints/sprint-8-planning.md
  docs/management/sprints/sprint-8-review-retrospective.md
  mkdocs.yml
Labels: DOCS, EASY, EPS, SM

#177 Adiciona planejamento da sprint 9 para a wiki
  docs/management/sprints/sprint-9-planning.md
  mkdocs.yml
Labels: DOCS, EASY, EPS, SM

#178 Adiciona revisão e retrospectiva da sprint 9 para a wiki
  docs/assets/img/sprints/sprint-9/burndown.png
  docs/assets/img/sprints/sprint-9/cumulative-flow.png
  docs/assets/img/sprints/sprint-9/knowledge-board-after.png
  docs/assets/img/sprints/sprint-9/knowledge-board-before.png
  docs/assets/img/sprints/sprint-9/knowledge-board-topics-compare.png
  docs/assets/img/sprints/sprint-9/time-eps-mds.png
  docs/assets/img/sprints/sprint-9/time-team.png
  docs/assets/img/sprints/sprint-9/velocity.png
  docs/management/sprints/sprint-9-review-retrospective.md
  mkdocs.yml
Labels: DOCS, EASY, EPS, MEETING, SM
